{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "rules": {
        "linebreak-style": 0,
        "import/no-named-as-default": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-one-expression-per-line": 0,
        "no-console": 0,
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "no-underscore-dangle": 0,
        "react/prop-types": 0,
        "no-plusplus": 0,
        "wrap-iife": [2, "inside"],
        "import/prefer-default-export": 0,
        "arrow-body-style": 0,
        "max-len": 0,
        "no-case-declarations": 0,
        "prefer-object-spread": 0,
        "react/jsx-boolean-value": 0,
        "camelcase": 0,
        "react/jsx-props-no-spreading": 0
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    }
}